$alabaster: #fafafa;
$alto: #d9d9d9;
$anakiwa: #82d6fe;
$cashmere: #e8cda5;
$dodger-blue: #40a9ff;
$peach-orange: #ffcf96;
$macaroni-and-cheese: #feb37c;
$pomegrana-tea: #ee3737;
$red: #ff0000;
$punch: #dc3545;
$peach: #ffcba4;
$san-marino: #436a9f;
$science-blue: #096dd9;
$snowy: #fff;
$white: #fff;
