@import 'colors.scss';
@import 'css-vars/css-vars';

$css-vars-use-native: true;

@include css-vars((
	--alabaster: $alabaster,
	--alto: $alto,
	--anakiwa: $anakiwa,
	--black: $black,
	--cashmere: $cashmere,
	--dodger-blue: $dodger-blue,
	--macaroni-and-cheese: $macaroni-and-cheese,
	--peach-orange: $peach-orange,
	--peach: $peach,
	--pomegrana-tea: $pomegrana-tea,
	--punch: $punch,
	--red: $red,
	--san-marino: $san-marino,
	--science-blue: $science-blue,
	--snowy: $snowy,
	--white: $white,
));