@import 'themes/colors.scss';

.color-picker {
	border-radius: 0.25rem;
	border: 0.0625rem solid var(--alto);
	position: absolute;
	top: 1rem;
	right: 1rem;
	opacity: 0.3;
	cursor: pointer;
	height: 1.875rem;
	width: 4.375rem;
	transition: opacity 0.2s ease;

	&:hover {
		opacity: 1;
	}
}

.input-color {
	visibility: hidden;
}
